<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 " >
    <img src="../../../assets/profile.jpg" alt="andrea ortega" class="rounded-circle w-75"  >
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  mt-3">
    <p>{{persona.nombre}} {{persona.apellido}} </p>
    <p>Full Stack Developer Jr</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8  mt-3">
    <span>
      <h1>Acerca de mi</h1>
      <p>Mi Nombre es Andrea Ortega, y soy desarrolladora full stack! Tengo grandes preferencias por el diseño UX/UI, sector donde me estoy especializando. <br> Actualmente estoy trabajando como Recruiter IT y en Busqueda y Selección de Personal desde 2020, momento en el cual decidí seguir mis pasiones y especializarme en sectores donde disfruto hacer y aprender.</p>
    </span>
  </div>
</div>
