<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 " id="info">
    <h1>Experiencia</h1>
    <br>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="info">
    <p>Randstad Argentina</p>
    <p>Dic 2022 - Abril-2023</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h3>Nombre del Puesto</h3>
      <p>Mis tareas en Randstad se dividian en tres sectores:
        • Recursos Humanos: - Publicación de avisos en diferentes portales - Busqueda de perfiles tanto
        profesionales como operativos - Realizar entrevistas grupales e individuales tanto presencial
        como de manera virtual. - Realizar informes de entrevista y gestión de test de competencias.
        • Administracion: - Altas y bajas de AFIP - Control de Ausentismos, ART, legajos. - Carga de
        novedades para liquidaciones mensuales y finales - Carga de ajustes y anticipos - Convenios:
        alimentacion, gastronomia y comercio
        • Comercial: -Prospección para generar nuevos clientes -Realización de presupuestos -
        Realización de reuniones tanto de seguimiento como de desarrollo.</p>
    </span>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="info">
    <p>Empresa</p>
    <p>Desde - Hasta</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h3>Nombre del Puesto</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Repellat harum iure deleniti cumque accusamus aspernatur recusandae vel animi voluptate nobis!
        Aut doloribus molestias vitae voluptatibus, aliquid quia rem perspiciatis culpa!</p>
    </span>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="info">
    <p>Empresa</p>
    <p>Desde - Hasta</p>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
      <h3>Nombre del Puesto</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Repellat harum iure deleniti cumque accusamus aspernatur recusandae vel animi voluptate nobis!
        Aut doloribus molestias vitae voluptatibus, aliquid quia rem perspiciatis culpa!</p>
    </span>
  </div>
</div>
