<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mt-3 mb-3" id="info">
    <h1>Skills</h1>
    <br>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#03C6E9'"
    [innerStrokeColor]="'#A7EEFB'"
    [animation]="true"
    [animationDuration]="200"
    [title]="'HTML'"
    [titleFontSize]="'2em'"
    [titleFontWeight]="'2px'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#1378FA'"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#03C6E9'"
    [innerStrokeColor]="'#A7EEFB'"
    [animation]="true"
    [animationDuration]="400"
    [title]="'CSS'"
    [titleFontSize]="'2em'"
    [titleFontWeight]="'2px'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#1378FA'"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#03C6E9'"
    [innerStrokeColor]="'#A7EEFB'"
    [animation]="true"
    [animationDuration]="600"
    [title]="'JS'"
    [titleFontSize]="'2em'"
    [titleFontWeight]="'2px'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#1378FA'"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#03C6E9'"
    [innerStrokeColor]="'#A7EEFB'"
    [animation]="true"
    [animationDuration]="800"
    [title]="'ANGULAR'"
    [titleFontSize]="'2em'"
    [titleFontWeight]="'2px'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#1378FA'"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="75"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#03C6E9'"
    [innerStrokeColor]="'#A7EEFB'"
    [animation]="true"
    [animationDuration]="1000"
    [title]="'MY SQL'"
    [titleFontSize]="'2em'"
    [titleFontWeight]="'2px'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#1378FA'"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#03C6E9'"
    [innerStrokeColor]="'#A7EEFB'"
    [animation]="true"
    [animationDuration]="1200"
    [title]="'NODE'"
    [titleFontSize]="'2em'"
    [titleFontWeight]="'2px'"
    [showUnits]="false"
    [showSubtitle]="false"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#1378FA'"
></circle-progress>
  </div>

</div>
